*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  background: grey;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  width: 90%;
  height: 90vh;
  background: white;
}

.container_img{
  width: 100%;
  height: 80vh;
  border: 1px solid red;
  overflow: hidden;
}

.container_img img{
  width: 100%;
  display: none;
/*display: block;*/
}

.container_img img.first{
  display: block; 
  /* display: none; */
}

.player{
  width: 100%;
  height: 10vh;
  border: 1px solid black;
  display: flex;
}

.left_arrow,
.right_arrow{
  flex-basis: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.carousel{
  flex-grow: 1;
}